// colors
$coordgps-blue:         #002294;
$coordgps-red:          #ED2939;
$coordgps-gray:         #282C34;
$coordgps-grey:         #ABB2BA;
$coordgps-success:      #73C990;
$coordgps-error:        #E06C75;

// Bootstrap
$primary:               $coordgps-blue;
$secondary:             $coordgps-red;
